html(lang="en")
  head
    link(
    rel="preload"
    href="https://lichess1.org/assets/_3h5UES/font/noto-sans-v14-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin=""
  )
  style
    include ../styles.css
  body
    main 
      div(class="container")
      h1 Lichess Daily Puzzle Slack App
      h2 Registration failed
      p Something went wrong. Please contact support
